 <div class="contents row" >
    <% @notes.each do |note| %>
      <div class="content_post" style="background-image: url(<%= note.image %>);">
        <div class="more">
          <span><%#= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
            <li>
              <%= link_to '詳細', "/notes/#{note.id}", method: :get %>
            </li>
            <% if user_signed_in? && current_user.id == note.user_id %>
            <li>
              <%= link_to '編集', "/notes/#{note.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/notes/#{note.id}", method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
      <p>
        <%= simple_format(note.text) %>
      </p>
        <span class="name">
          <a href="">
            <span>投稿者</span><%= note.user.name %>
          </a>
        </span>
      </div>
    <% end %>
    <%= paginate(@notes) %>
  </div>